video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  video {
    width: auto;
    left: -72%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  video {
    width: auto;
    left: -24%;
  }
}

a.kagamivisualnovel:link {text-decoration: none; color: #FF6E40;}
a.kagamivisualnovel:visited {text-decoration: none; color: #FF6E40;}
a.kagamivisualnovel:active {text-decoration: none; color: #FF6E40;}
a.kagamivisualnovel {
  box-shadow: inset 0 0 0 0 #FF6E40;
  color: #FF6E40;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a.kagamivisualnovel:hover {
  box-shadow: inset 288px 0 0 0 #FF6E40;
  color: white;
  text-decoration: none;
}

a.kagaminihongo:link  {text-decoration: none; color: #FF4081;}
a.kagaminihongo:visited {text-decoration: none; color: #FF4081;}
a.kagaminihongo:active {text-decoration: none; color: #FF4081;}
a.kagaminihongo {
  box-shadow: inset 0 0 0 0 #FF4081;
  color: #FF4081;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}
a.kagaminihongo:hover {
  box-shadow: inset 238px 0 0 0 #FF4081;
  color: white;
  text-decoration: none;
}

.purplelayer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 40%, rgba(64, 68, 172, 1.0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .purplelayer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0) 8%, rgba(0, 0, 0, 0.0) 44%, rgba(64, 68, 172, 1.0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .purplelayer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0) 6%, rgba(0, 0, 0, 0.0) 44%, rgba(64, 68, 172, 1.0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * Text (Main body)
 */
.text-coregamehd {text-align: right; font-size: 2.75em;margin-bottom: 0rem;}
.text-tagline1 {text-align: right; font-size: 1.55em;}
.text-tagline2 {text-align: right; font-size: 1.75em;}

@media (min-width: 320px) and (max-width: 767.98px) {
  .text-coregamehd {text-align: center;font-size: 2em;}
  .text-tagline1 {text-align: center;font-size: 1.1em;}
  .text-tagline2 {text-align: center;font-size: 1.3em;}
  .mobiletext {
    margin-top: 110%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .text-coregamehd {text-align: right;font-size: 2.5em;}
  .text-tagline1 {text-align: right;font-size: 1.6em;}
  .text-tagline2 {text-align: right;font-size: 1.75em;}
  .mobiletext {
    margin-top: 80%;
  }
}