.btn-purple {
    background-color: #4044ac;
    border: 2px solid #4044ac;
    color: white;
}
.btn-purple:hover {
    color: white;
    border: 2px solid #4044ac;
}

.btn-kagamivisualnovel {
    background-color: #FF6E40;
    border: 2px solid #FF6E40;
    color: white;
}
.btn-kagamivisualnovel:hover {
    color: white;
    border: 2px solid #FF6E40;
}

.btn-kagaminihongo {
    background-color: #FF4081;
    border: 2px solid #FF4081;
    color: white;
}
.btn-kagaminihongo:hover {
    color: white;
    border: 2px solid #FF4081;
}