.btn-purple {
    background-color: #6818D9;
    border: 2px solid #6818D9;
    color: white;
}
.btn-purple:hover {
    background-color: rgba(104, 24, 217, 0.3);
    color: white;
}

.btn-kagamivisualnovel {
    background-color: #FF6E40;
    border: 2px solid #FF6E40;
    color: white;
}
.btn-kagamivisualnovel:hover {
    background-color: rgba(255, 110, 64, 0.3);
    color: white;
}

.btn-kagaminihongo {
    background-color: #FF4081;
    border: 2px solid #FF4081;
    color: white;
}
.btn-kagaminihongo:hover {
    background-color: rgba(255, 64, 129, 0.3);
    color: white;
}