/*
 * Base structure
 */
html {
    height: 100%;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    font-family: line-seed;
    height: 100%;
    /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.cover-container {
    max-width: 60%;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .cover-container {max-width: 100%;}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .cover-container {max-width: 90%;}
}

/*
 * Fonts
 */
@font-face {
    font-family: line-seed;
    src: url(../font/LINESeedSansTH_W_Bd.woff);
    font-weight: bold;
}
@font-face {
    font-family: line-seed-ja;
    src: url(../font/LINESeedJP_OTF_Bd.woff);
    font-weight: bold;
}

/*
 * Hyperlinks
 */
a.footerlink {color:#FFFFFF;}
a.footerlink:link  {text-decoration: none; color: #FFFFFF;}
a.footerlink:visited {text-decoration: none; color: #FFFFFF;}
a.footerlink:hover {text-decoration: underline; color: #FFFFFF;}
a.footerlink:active {text-decoration: none; color: #FFFFFF;}

nav {font-size: 1.3em;}
@media (min-width: 320px) and (max-width: 767.98px) {
    nav {font-size: 1.1em;}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    nav {font-size: 1.4em;}
}

/*
 * Navigation
 */
.nav-masthead .nav-link {color: rgba(255, 255, 255, 1.0); border-bottom: .25rem solid transparent;}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {border-bottom-color: rgba(255, 255, 255, .25);}
.nav-masthead .nav-link + .nav-link {margin-left: 1.25rem;}
.nav-masthead .active {color: #fff; border-bottom-color: #fff;}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*
 * Background
 */
.background {
    background: url("../img/ran_desktop.jpg") no-repeat center center fixed;
    position: relative;
    overflow-x: hidden;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .background {
        background: url("../img/ran_mobile.jpg") no-repeat center center fixed;
        background-size: auto 100vh;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .background {
        background: url("../img/ran_mobile.jpg") no-repeat center center fixed;
        background-size: auto 100vh;
    }
}

.purplelayer {
    background: rgba(64, 68, 172, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .purplelayer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(64, 68, 172, 0.6) 8%, rgba(64, 68, 172, 0.8) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .purplelayer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(64, 68, 172, 0.6) 6%, rgba(64, 68, 172, 0.8) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}

.glassbackground {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 0.5rem;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
}
h3.glassbackground-text {
    font-size: 2.5em;
    margin-bottom: 30px;
}
p.glassbackground-text {
    font-size: 1.25em;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .glassbackground {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 18px;
    }
  .glassbackground-text {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
  h3.glassbackground-text {
        font-size: 2em;
    }
  p.glassbackground-text {
        font-size: 1em;
    }
}

/*
 * Footer
 */
.footertext {
    line-height: 10px;font-size: 1.15em;
}
.pinkheart {
    color: #FF4081;font-size: 1.15em;
}
.japanesetext {
    font-family:line-seed-ja;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .footertext {font-size: 0.9em;}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .footertext {font-size: 1.1em;}
}

/*
 * Animation
 */
#fadeinanimation1 {
    -webkit-animation: fadein 0.25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.25s; /* Firefox < 16 */
        -ms-animation: fadein 0.25s; /* Internet Explorer */
         -o-animation: fadein 0.25s; /* Opera < 12.1 */
            animation: fadein 0.25s;
}
#fadeinanimation2 {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
 * Others
 */
::selection {
    background: #D1C4FF;
}
::-moz-selection {
    background: #D1C4FF;
}